[cinnabar]
	version-check = 1729795003
	helper = /home/saber/.mozbuild/git-cinnabar/git-cinnabar-helper
[user]
	email = sean@seanfeng.dev
	name = Sean Feng
[oh-my-zsh]
	hide-status = 1
[core]
	pager = delta
[delta]
	syntax-theme = Nord
    # features = side-by-side line-numbers
    features = line-numbers
[http]
	version = HTTP/1.1
[interactive]
    diffFilter = delta --color-only
